    * {
        margin: 0;
        padding: 0;
    }
    
    input,
    select {
        vertical-align: middle;
    }
    /*-------------------------------main code INDEX-------------------------------*/
    
    .batch {
        height: 660px;
        width: 1350px;
        background-color: brown;
    }
    
    header {
        height: 82px;
        width: 1364px;
        background-color: blue;
    }
    
    section {
        height: 1000px;
        width: 2000px;
        background-color: grey;
    }
    
    footer {
        height: 82px;
        width: 1364px;
        background-color: black;
    }
    
    .logo {
        float: left;
        padding-left: 20px;
    }
    
    li a {
        color: white;
        text-decoration: none;
    }
    
    nav {
        float: right;
        word-spacing: 30px;
        padding: 20px;
    }
    
    nav li {
        display: inline-block;
        line-height: 80px;
    }
    
    section .sec_img {
        margin-top: 0px;
        background-image: url("pexels-ivo-rainha-1261180 (2).jpg");
        background-size: 1364px;
        background-repeat: no-repeat;
    }
    
    .box {
        height: 300px;
        width: 450px;
        background-color: red;
        margin: 70px auto;
        opacity: .7;
        color: white;
    }
    /*-------------------------st_login--------------------*/
    
    .log_img {
        height: 660px;
        margin-top: 0px;
        background-image: url("pexels-ivo-rainha-1261180\ \(2\).jpg");
        background-size: 1364px;
        background-repeat: no-repeat;
    }
    
    .box1 {
        height: 450px;
        width: 450px;
        background-color: black;
        margin: 70px auto;
        opacity: .7;
        color: white;
        padding: 20px;
    }
    
    form .login {
        margin: auto 50px;
    }
    
    input {
        height: 25px;
        width: 300px;
    }
    /*------------------------------registration------------------*/
    
    .reg_img {
        height: 660px;
        margin-top: 0px;
        background-image: url("pexels-ivo-rainha-1261180\ \(2\).jpg");
        background-size: 1364px;
        background-repeat: no-repeat;
    }
    
    .box2 {
        height: 600px;
        width: 410px;
        background-color: black;
        margin: 0px auto;
        opacity: .7;
        color: white;
        padding: 20px;
    }